.title-about{
    text-align: center;
    margin: 50px 0;
    font-weight: bold;
}

.info-about{
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    padding: 50px 0;
    border: solid 1px #000;
    border-radius: 10px 60px;
    background-color: #ffffff6e;
    box-shadow: -2px -1px 20px 2px #c0968f;
    p{
        padding: 10px;
        font-size: 20px;
    }
}