.title-form{
    text-align: center;
    margin: 30px 0;
    font-weight: bold;
}

.form-login{
    width: 50%;
    margin: auto;
    border: solid 1px #000;
    border-radius: 10px 60px;
    height: 40vh;
    background-color: #ffffff6e;
    box-shadow: -2px -1px 20px 2px #c0968f;
    padding: 60px 0;
    .field{
        display: block;
        margin: 20px auto;
        padding: 10px;
        width: 90%;
        border: none;
        border-radius: 10px;
        outline: none;
        background-color: #c0968f70;
        text-align: center;
    }
    .field:hover,
    .field:focus {
        border-bottom: solid 1px #000;
        background-color: #c0968f;
    }
    .submit{
        display: block;
        margin: 10px auto;
        padding: 10px;
        width: 30%;
        border: none;
        border-radius: 10px;
        outline: none;
        text-align: center;
    }
    .submit:hover{
        background-color: #0000003b;
    }
    .BTN-signup{
        text-align: center;
        border: solid 1px #000;
        border-radius: 10px 20px;
        width: 20%;
        margin: 20px 50px;
        background-color: #c0968f70;
        a{
            text-decoration: none;
            color: #fff;
            font-size: 20px;
        }
        a:hover {
            color: #000;
        }
    }
}
@media (max-width: 990px) {
    .form-login{
        width: 100% !important;
        .BTN-signup{
            text-align: center;
            border: solid 1px #000;
            border-radius: 10px 20px;
            width: 30% !important;
            margin: 20px 50px;
            background-color: #c0968f70;
            a{
                text-decoration: none;
                color: #fff;
                font-size: 20px !important;
            }
            a:hover {
                color: #000;
            }
        }
    }
}